Source: prayers
Section: user/calendar
Priority: extra
Maintainer: Hedayat Vatankhah <hedayat.fwd@gmail.com>
Build-Depends: debhelper (>= 7), dpatch
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>

Package: prayers
Version: 1.0
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Islamic Prayer Times Application
Prayers is an Islamic prayer times application which uses
<a href=http://praytimes.org>PrayerTimes</a> library which
provides more accurate results for some methods like Tehran University
calculation method.

XB-Description-fa_FA: برنامه‌ی اوقات شرعی اسلامی
برنامه‌ی نماز یک برنامه‌ی اوقات شرعی اسلامی است که از کتاب‌خانه‌ی 
<a href=http://praytimes.org>PrayerTimes</a> 
استفاده می‌کند که نتایج دقیق‌تری برای برخی از روش‌های محاسبه از جمله
روش دانشگاه تهران ارائه می‌کند.

XSBC-Maemo-Display-Name: Prayers
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAKL2lDQ1BJQ0MgcHJvZmlsZQAASMed
 lndUVNcWh8+9d3qhzTACUobeu8AA0nuTXkVhmBlgKAMOMzSxIaICEUVEmiJIUMSA0VAkVkSxEBRU
 sAckCCgxGEVULG9G1ouurLz38vL746xv7bP3ufvsvc9aFwCSpy+XlwZLAZDKE/CDPJzpEZFRdOwA
 gAEeYIApAExWRrpfsHsIEMnLzYWeIXICXwQB8HpYvAJw09AzgE4H/5+kWel8geiYABGbszkZLBEX
 iDglS5Auts+KmBqXLGYYJWa+KEERy4k5YZENPvsssqOY2ak8tojFOaezU9li7hXxtkwhR8SIr4gL
 M7mcLBHfErFGijCVK+I34thUDjMDABRJbBdwWIkiNhExiR8S5CLi5QDgSAlfcdxXLOBkC8SXcklL
 z+FzExIFdB2WLt3U2ppB9+RkpXAEAsMAJiuZyWfTXdJS05m8HAAW7/xZMuLa0kVFtjS1trQ0NDMy
 /apQ/3Xzb0rc20V6Gfi5ZxCt/4vtr/zSGgBgzIlqs/OLLa4KgM4tAMjd+2LTOACApKhvHde/ug9N
 PC+JAkG6jbFxVlaWEZfDMhIX9A/9T4e/oa++ZyQ+7o/y0F058UxhioAurhsrLSVNyKdnpDNZHLrh
 n4f4Hwf+dR4GQZx4Dp/DE0WEiaaMy0sQtZvH5gq4aTw6l/efmvgPw/6kxbkWidL4EVBjjIDUdSpA
 fu0HKAoRINH7xV3/o2+++DAgfnnhKpOLc//vN/1nwaXiJYOb8DnOJSiEzhLyMxf3xM8SoAEBSAIq
 kAfKQB3oAENgBqyALXAEbsAb+IMQEAlWAxZIBKmAD7JAHtgECkEx2An2gGpQBxpBM2gFx0EnOAXO
 g0vgGrgBboP7YBRMgGdgFrwGCxAEYSEyRIHkIRVIE9KHzCAGZA+5Qb5QEBQJxUIJEA8SQnnQZqgY
 KoOqoXqoGfoeOgmdh65Ag9BdaAyahn6H3sEITIKpsBKsBRvDDNgJ9oFD4FVwArwGzoUL4B1wJdwA
 H4U74PPwNfg2PAo/g+cQgBARGqKKGCIMxAXxR6KQeISPrEeKkAqkAWlFupE+5CYyiswgb1EYFAVF
 RxmibFGeqFAUC7UGtR5VgqpGHUZ1oHpRN1FjqFnURzQZrYjWR9ugvdAR6AR0FroQXYFuQrejL6Jv
 oyfQrzEYDA2jjbHCeGIiMUmYtZgSzD5MG+YcZhAzjpnDYrHyWH2sHdYfy8QKsIXYKuxR7FnsEHYC
 +wZHxKngzHDuuCgcD5ePq8AdwZ3BDeEmcQt4Kbwm3gbvj2fjc/Cl+EZ8N/46fgK/QJAmaBPsCCGE
 JMImQiWhlXCR8IDwkkgkqhGtiYFELnEjsZJ4jHiZOEZ8S5Ih6ZFcSNEkIWkH6RDpHOku6SWZTNYi
 O5KjyALyDnIz+QL5EfmNBEXCSMJLgi2xQaJGokNiSOK5JF5SU9JJcrVkrmSF5AnJ65IzUngpLSkX
 KabUeqkaqZNSI1Jz0hRpU2l/6VTpEukj0lekp2SwMloybjJsmQKZgzIXZMYpCEWd4kJhUTZTGikX
 KRNUDFWb6kVNohZTv6MOUGdlZWSXyYbJZsvWyJ6WHaUhNC2aFy2FVko7ThumvVuitMRpCWfJ9iWt
 S4aWzMstlXOU48gVybXJ3ZZ7J0+Xd5NPlt8l3yn/UAGloKcQqJClsF/hosLMUupS26WspUVLjy+9
 pwgr6ikGKa5VPKjYrzinpKzkoZSuVKV0QWlGmabsqJykXK58RnlahaJir8JVKVc5q/KULkt3oqfQ
 K+m99FlVRVVPVaFqveqA6oKatlqoWr5am9pDdYI6Qz1evVy9R31WQ0XDTyNPo0XjniZek6GZqLlX
 s09zXktbK1xrq1an1pS2nLaXdq52i/YDHbKOg84anQadW7oYXYZusu4+3Rt6sJ6FXqJejd51fVjf
 Up+rv09/0ABtYG3AM2gwGDEkGToZZhq2GI4Z0Yx8jfKNOo2eG2sYRxnvMu4z/mhiYZJi0mhy31TG
 1Ns037Tb9HczPTOWWY3ZLXOyubv5BvMu8xfL9Jdxlu1fdseCYuFnsdWix+KDpZUl37LVctpKwyrW
 qtZqhEFlBDBKGJet0dbO1husT1m/tbG0Edgct/nN1tA22faI7dRy7eWc5Y3Lx+3U7Jh29Xaj9nT7
 WPsD9qMOqg5MhwaHx47qjmzHJsdJJ12nJKejTs+dTZz5zu3O8y42Lutczrkirh6uRa4DbjJuoW7V
 bo/c1dwT3FvcZz0sPNZ6nPNEe/p47vIc8VLyYnk1e816W3mv8+71IfkE+1T7PPbV8+X7dvvBft5+
 u/0erNBcwVvR6Q/8vfx3+z8M0A5YE/BjICYwILAm8EmQaVBeUF8wJTgm+Ejw6xDnkNKQ+6E6ocLQ
 njDJsOiw5rD5cNfwsvDRCOOIdRHXIhUiuZFdUdiosKimqLmVbiv3rJyItogujB5epb0qe9WV1Qqr
 U1afjpGMYcaciEXHhsceiX3P9Gc2MOfivOJq42ZZLqy9rGdsR3Y5e5pjxynjTMbbxZfFTyXYJexO
 mE50SKxInOG6cKu5L5I8k+qS5pP9kw8lf0oJT2lLxaXGpp7kyfCSeb1pymnZaYPp+umF6aNrbNbs
 WTPL9+E3ZUAZqzK6BFTRz1S/UEe4RTiWaZ9Zk/kmKyzrRLZ0Ni+7P0cvZ3vOZK577rdrUWtZa3vy
 VPM25Y2tc1pXvx5aH7e+Z4P6hoINExs9Nh7eRNiUvOmnfJP8svxXm8M3dxcoFWwsGN/isaWlUKKQ
 Xziy1XZr3TbUNu62ge3m26u2fyxiF10tNimuKH5fwiq5+o3pN5XffNoRv2Og1LJ0/07MTt7O4V0O
 uw6XSZfllo3v9tvdUU4vLyp/tSdmz5WKZRV1ewl7hXtHK30ru6o0qnZWva9OrL5d41zTVqtYu712
 fh9739B+x/2tdUp1xXXvDnAP3Kn3qO9o0GqoOIg5mHnwSWNYY9+3jG+bmxSaips+HOIdGj0cdLi3
 2aq5+YjikdIWuEXYMn00+uiN71y/62o1bK1vo7UVHwPHhMeefh/7/fBxn+M9JxgnWn/Q/KG2ndJe
 1AF15HTMdiZ2jnZFdg2e9D7Z023b3f6j0Y+HTqmeqjkte7r0DOFMwZlPZ3PPzp1LPzdzPuH8eE9M
 z/0LERdu9Qb2Dlz0uXj5kvulC31OfWcv210+dcXmysmrjKud1yyvdfRb9Lf/ZPFT+4DlQMd1q+td
 N6xvdA8uHzwz5DB0/qbrzUu3vG5du73i9uBw6PCdkeiR0TvsO1N3U+6+uJd5b+H+xgfoB0UPpR5W
 PFJ81PCz7s9to5ajp8dcx/ofBz++P84af/ZLxi/vJwqekJ9UTKpMNk+ZTZ2adp++8XTl04ln6c8W
 Zgp/lf619rnO8x9+c/ytfzZiduIF/8Wn30teyr889GrZq565gLlHr1NfL8wXvZF/c/gt423fu/B3
 kwtZ77HvKz/ofuj+6PPxwafUT5/+BQOY8/yUGUl9AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMA
 AAsTAAALEwEAmpwYAAAAB3RJTUUH3AoUFBgfKN8wnQAAHbBJREFUeNrtnXmQXdV95z/n3Hvf3u91
 t3rR0pJaEhJhkSwWgw221ax2iBcRnMSOyzFyDMlMZYzHY09lxkUINVVJqiaZQFKTilfATryNBzBg
 AgaMJHbMIgPaAEkttYR6X95+l3PO/HHfcl93S2oBwSKTU3V0+931nO/5Ld/f75x7Bf9e3lIR79SD
 Hjq8aSPQD2wEcrUtQL9A9L+ZexrMIDBY+7kDmKltB6/o27bjXQvgQ4c/1A4MAJtCoMRA/Zivp9Em
 IDAlAJSuok215XpNQKCLLftsmUFit+yTIoElE+FxkUYKG0e2RyHeWgN0G7D1ir7t06csgA8d/mA/
 sBnE54CNxgR4eobAFPHVDL4pYkzwzqiVsHFEBsfKYYsMMZlDCLsmpeYO4O4r+h4bPCUA/PnQBwaA
 G4QQm5Wp4qoJPDWBp2dOLWPlZYlZi2hLd2GJBMaYu4Fbr1z++NZfC4APDl08ANwkYMBVk1TVKJ6e
 OGWNfXEq7GqmwxCTi0hYPcStTgxsBW7+8PIntr4jAN5/8KJ2IbgJ+JKrJin5B1DGPaU9pVcBtypw
 YoZEurnfEnHSziriVifALcZw81Urn5z+VwPwvsH3bxRwlzJuf8F/HV/n3xVUY3rUAqC9R8173JFZ
 2pzTsER80MDVH+1/asfbDuC9B953LXBbVY1R9A++Yw7h7SjjQ3EAupa7x3U8GWclCasbYMvHVj19
 +9sG4E/3XXgtgtuK3kEqavhdRXRVAOP7cyAMvWtPrDFJazGZ2EowbPnEmmduf8sA3vX6BdciuC3v
 7cdV4++6SGF62MbNt+FkinQu9Rd0TdzqIhtbDYYtV5/27O1vGsCfvHr+RiHEi0X/EJVg5NR0EDUO
 HkvMf3xk7yIAek8/OYaQtHvJOCswxpzzyXXP7ThpAH/86vntAl6sBhP9ee/AKSthbhkCVxBLGpx5
 QBzbtQqA7jNPvg/Z2CoS9qJBA+f87rrn5vXO9rEu1sbcpI3XP+MewpzCKiodcGcsfN+Qjbd62XJe
 IEwKjYt+E52YcQ9hyUy/FLGbgP+8YAm87aVzBxIxHp2qvoavC6e8nStOStxCHCflke1ugji2twdH
 LUZlXmPRisqburcj2+hIrKXqccmWDS9sXZAEOra5qeLP4AanPngA8YymPGmjph0SbXnsWLg/bc4C
 CYm+l9B6loZp8Ksg5LHtJ4CrC1T8aWJ27ibCqKVVA2bv+O7OjQPamIEZ9zDa8GupngvlArjVhZ0v
 LLAzZXSQYOpIurE/YXeQsDtazg0UFKYE+TEbzxULun+IhRn47s6NAyeUwECZG3w9Q6C9BY2+X+Om
 TvztkyhtQANeUVKctNBKghbEMh7pDj3vNZkuxcSERFR6KUwO4s4k6VBVCv4hsjX7lx+z8AophKVw
 ki6OY7BioPTxMjugjUfFn8aRuRtmS2GLDfy7Zzf0ZxIcmHEH8dTCwrTyTHiLVO7tdzWVgsAr2Rgl
 0YGFCeIIlQBjYaSLk5si29OMiGaGHeyZs/GYICmWEbOylHIPYYzAn+4A7YBVxWkr0NYTYMzxgYuW
 mNVGe2IVxSqrvnjBS4PzSmAybjb72qMaLAw8vxraEitm3pSXO7FtM8QzIfkNfCgMa3SQQABCZbCm
 VkKxl0C7TKudpJYMU52eJCVXsKrrAxSqY0yOLyZuehDMoGLjZHoLpDNpzuv9Kk8d+csFMWQhoBoU
 8FSVZDy+GbhlXgCVMp+rqvxxRbqVJoRBejyrCNSJR/Et5d0syC6rAkdDzzthUR23SNq9GAPt1gYy
 M5eTbM/R1302l17waWbcg/zj/91HUR+E3CFSOYUysCy9iff1fZWp6gFeGf3hCZKzTTArfp6Etehz
 UQAbTuQfnj+zHczGapDHGBZUA9fGr9poPf9xrTnmsbda052KtnWvE6z8GWbVw0z6L+EHFWJ2it6O
 1cTtLO2JVfz+R/+UlFyBX8jglgRuSZBx+hgv7aGqpkjbS1ABc6pWkfbX+lDx84DZ+DdbT++YI4EG
 BgId4AalBQfpQSUBwqCNO689aUigOXmJNObkzo8tHuaNo09TcEfpbl8dqr12idkZLr/kt3jy8W5S
 XgfjhQP0pjdSCaYItE9/+yW8cPj780qdqFdZpz5lfCcglrIGgLsBYzd5kdnkqdKC1NcYWN1xGeed
 eR3ffvSzKMXxARQnVmuzABs637UqgOJIAqvcR0J0UfRHOTy2C200eyfupegNM1LcyVTpCHGrHd/3
 kaQwWrCm4yqq/hTLsx/itaPbsZxZAEqQsgmiEOD6JRyrbVMNwKYKa2M2eqraUBGvEtbZqhMTWS5Z
 eTOfWX8fabuHC8/6GFqFYq51q9jPVoG6Wkfvt2n5n81Vcx2pxzEJpSlJfiiHKXegjEvBeRlr2R7K
 3gyBrpJ3jxC324nbbSw902N34Xu4vdsYmnyeQFfJ2ivQRrOu+3Lyh7NMDcXJj1pUiqD8iEqrmkob
 cIMqxpj6lKyIAjjgBuUWAulWJNVy87fScNXav+fi5f+FoZmnOFJ8DoGF0uExpSK1tq9+ndat96nX
 85dez28s2twCfvR4dH+UaBfGLdx8AqMFJjVBes0QbctKlA8voVAdxxIOo6Xd2CJJyumhv3MTQSWO
 58HQxMtMFofYNXI/6BhT3n7O2/hBAk/ge1AtSAqTgmoJfD/sT1DrV4iR2VTXKwnw10+t26i1wVPV
 RmOlDUFVUs2HTkLVjGp36gyeHPp7jhZfwhiYLB0OHxC0jphSkdHTkVGcBUoYKRi0Fo3rWsCMDIpW
 YfbFLQkCXyDiLskl06R7PHTtnE57PUHgM1x4hYI7ijAxEnYHnamVKFHBdyFfnCRl9+IGJZYk38tU
 9RDpRDvGcrGTCmU0gRcGCYEPvtfsmxdUUcrwF4+etrEBoNKmXxuD0roxykaAiCmCaoz8qN3Y//ih
 W9FG4cgUg5NPs2/iqRC82ijVRyoIIlJ5DEnUBvZN/gJfufSm1zelU82V5sb1BowwxHMByU6FsMCt
 hDXkohKQHJx6lpTdy8tHf0p38gxsK86y5X34HkwXJskmlmEwvLDvPhbFzsKJWwTK4HuhbMmYAREC
 GG1HoAwhVqa/ocIGs7E6S321gXjWoJVEFbNUS2Hnnzvyz2RjfcxUhtlx9M4WCVMqfGC1FCY6G6oc
 AaGlatg9fj896bPpTJ02q6G1wdCtHZAO2MmQF2oNi5Kn88n3/G9uvOwgf3jOAxSr40yUD7Bn9GHa
 46sItEeMdqSMsabnInwPZorTdKZWoIzPY7u+z+rcFQRUWL18A74bSpzvhzUIajUyoBW/DMI0JVBr
 k1NazRtIy0wZoxwqY22NfQ88cg9PP7GjAV6gwoeVpwXFCQuvKlpVcR7g6vt3jtzHytzFKK2btq/O
 w+pmIGIP6wMRtzq45sxv8pWLd3FG10fZM/EAI+XdbP7NP6Ac38evDt9HV/IMEk6Ow1OvEBcdpJPt
 uBUolcskY+34oky+mMcyKWJWjiVdq5ugRcBrMU0agkChtckBQm7evHnz9Ki+wFfuHPukNSRyGm0U
 MX8JhRGH/FAaz68yWni1MSKlcYvikTa8fBKtQUiDsGbZs6gtjNi3ifIQKWcRlSBP1lkW8stZtaUD
 AWRjK/jy+19k4+LfY+uBv+GHr3yevRMPYcsEUtrEsgGVapVvb/88i9KrGZ7aT1x04pkSXhl8TzNZ
 PIJSCt+FgyOv0B3bgBOzUD4EHq3boNUO+8rFIN4DIC3Lsipj6fT0vi5K+/soHOimOG63SIzJTOGI
 NqzCSnJ6A8ooym27KE1YlA51YQrdGGVjbI9YViGcWRKjj50qUhr2jD5MLtZHb/asufZvVtUafmvd
 X2DLBD965Tp2jz+ANoayP4PAJma14ZZDNSxXqtz/00exRIKezGlUgslQYwL4r9+5ENvkqE7HeWPi
 dTriq/BFeY5Jms8eh1ULQNj33nvvvf/h48v/LihrjAHLZEgWVtLmhUH6mLsTq3uYYv4NFsV+gy2b
 v8bStg24qsATg9/mngd/gCvGsdsL2LGQu9WJsxGADrfGgDRzibMxsHPkfi5a+QXc4JGQUxpQtdG3
 HLBiIaHFhNs1nR/kiUNfp+CO1SaAOtjY+7tUvDxIn9JwinhnGa0g6bTTkerDAJ4uhbZTwXShyM5f
 vUrCdFOsTJNLLEPjNfimkE3uKWsaJK2wf4HyMcasBLA9z/Nyy9XSvDuMpatUpiwqMxYZwiC9J76B
 Nu9y4ovSnLb0PFZ2XIAUFvunHqcjvZT+s3MMjh/A1EZGiFpHRfiw6DZ6vAGkhqP5vZzWuYlXxu6b
 Q1/8qsQoC4xECIGd8kg5ixjKv4gUMVy3ysauq1ieO48nDn0dGaRwvMWUJg+gSimCDk3MTjM6cwBh
 4lTzFsJLoQnY+/oectZpOHacmJUCYzeapg2ICIEXNW1Bg68CdAhg6IW1MU3P266wVr7OZM/PyC95
 mKOVl/CCCsl4lovPv5KE3YY2mky8B8dKc+aSK+fwtijlOF6tn9Pf8X7ak8txVZne7OmooEajHOjp
 Xta0f74kmMnhWDFW5M5naepcNvV/kYtXb+HJg7fhqhLbX/kxDjlkvo9uZwMf/MAH6e/eyHjpAMuz
 F+B43YCNsX2ErZDCIp3oQGsFxgm1RoRjfKL2R71wS6gUraJrmMH807w2/DRKhcmGQLuU/WlsGWdt
 1wdYWfk02YlNuId7qczIJmlWxybS9d+WSfLJ9f+LwzM7MBp62taGjsSHlN3Ffxq4k1x3gljOxc6V
 8U0FKWyMgff2/T7vWfYxdo88wqqu95JSK3h1/x4K5Una4ys5u/9DnNH3QXpy/aRSKXKxPjxTwqSm
 cDIBVrUbKW0qXoGxwkEwVjT3gamZGG3mC1NNMxtTI4YtSVEdQGU8QaLaR8buouCPYkmbo4XdjJZe
 o1CZoBJMkU0sxhiD1oa4WIQoLkIVPapiBpOcJt7p48RDsygkCN20fcbAn1z0E3oyp3HHC1sQwiEe
 SxPUYuv/9pFHyCQ62bjmCh57+U6EgDPWvgchBHvGH+Wi5dfx5MHbScVzCBVn2y+eYkP2M2R621m9
 7Cw+PHANmUQHQ5MvUdHTjE4eQWQKSCeUsmXtZ4EQrOg+i9Hi/jC3EvJwNGC8sI2OHYnHDSgdBh0R
 AEEb3QCwOiPRhTYslSIwLmO8jNNVIm63USrsZawwyIXLP8MzQz/gleGH2Mv/waSh6jokgiVY0kEL
 oJLBHVGsWr+az1/wLdriPdyz+895bPA7jaTBhqVX8ZOX/5QZb4QN3Z9g5/j95OJLSFg5VnZt4JvP
 fBbPlPnEhq9x4ZprWNV9DoendmLLJP/80h9TCWZY7Gzk4ed+xLr+93PuqgGWda5jRc9ZZFOdVLwi
 yqoSk2n8qiAopnE6wpRdJtnJpZdeyvvWXc2/7P5rVCAwQFARGCWxYhoZMxgRAipMKJZRrGwAZQye
 8lEB+AULXYkjtMBPTJDs9kgY8A4twbESDJf2smn1H2OMRuFSdd2mOrb5BBxCyTCW9gs2Uic5vXuA
 vvb13LXrRpBw5dovc3hqN5vPvhGAAzO/DFcPJNeh9L189Lwvcdna/8hY/iDT/husyX6IM3suZ8/Y
 Nh45cCv5YBhLOCSsDJ2Z1STsLF+75i6WtZ+JbTlUvRIIE4KHS8XPo1ybo/tK/N5FN7Ljte1Ml0aw
 0w7ZVBe5VA+TwT5iYhHBdBvIAGIeImaQTk2VaYLo6wAVBdAYg18F5Ql0IBAJFydTRtZEFwOLE+sx
 xvDS8L/w/JG7WJo9k0ysk+n8RCNywNTiyNrWyQZIu0DG6ea18Sd5o7ALS8aYrh7lI6d/GRB878U/
 wRiIyzT3vnArq5evZ9fkg+x65sGGOXl9Zjv78o9h4eCQIWMtZXzqKM8P/pwrN/whM+k32DX1ABP+
 PtJOJ76q0JlaTqB9jhZ2U6xM8717/pZ4YRWXnPfb9HWvZfXSs7l04ErWLj6f/ePPsbbrA0xPhVxS
 2xXibSqkMhFb2FojNlApE048C7CzAZbdnHyuW1OB5PDMyw2HM146SFJ08sJzv8LqCG1mg5pYzQcj
 IGalGSm8TtUvA+Vwpetrf4WJ8Bm/Inn21QdY03P+nOTq49ufxFdujR/B4o6V9HQtZnRihNvu+Uu+
 cPWfYRJQcqcoedOUvSk6kn0k7Ay9mXW0KQ9/pJPDejsjjw7SnV3OF6/9M/q714dzHXqSjmQfw0dH
 ULggwqSCHQ+FYTYvJOJELIALPp35c9cUkQ5zUQeq0xJZyfHICz9iWd8yAuMTE2leHnyC0ZFxfE8j
 bNMA3NRS4cgQwLI/RW9uNSOl15v3jtSk7GTXvh1MT0/zwqvbWdF1NlYMbJOmPCl49cCehgc3Ggrl
 GSQ2E8NFjJvgxR3PEUvYTHuHOVx4mWyih6TdQalc5MjRIZ556ll6OlewKLaaNUs2cOHZV3Dh+stp
 S3WyZ3QbB2deZLJwlO/e9Q8YGYDUGC3QNTol7UaSJ/SGEhJOhud+XPwfDScihIPW/rxpdlNop6Qn
 KMcO89T+veiglrH1QVs22rdQjm6mZ+srBmrZ470jz+CbCosXrcRVzTmXmEgzM1Vi2ys/Ce8VhPWh
 bfeG2ejojIBsptWNgsEDhzCBBdLFxMtse/7eEGAF69IKY55mb+Gh8PxSijOXfYilXSu5ZNNlbFi1
 qeFgkvE22pNLOTC1E9leaM5/+ITJ2tnZ8tpq1hYnoo3BGDFnbrdu/2ydJiDA6fQbqW1du6FMBmgj
 CGoiTy3SqD+s7vr3jb3EvtGXyMQ6+Z9XP893d9zA1md/hltV6FrYpmu2tN5oInlzUYsMhKyFi4BI
 BI0ON0JICUJIRGh3wjAyWWbf8A4++pFPsHbZeaTiWSpekcC4VPwCMZmmPbaC9clPMZF/g6PFvQSJ
 MWIZjbBrEUgNizA6EWgziwdG2fVsCdT1FptW8HRteZmIhT9MRMTrrh9CO2Jqjfj4+q8ynD+ANhrX
 Uw1JVn4NvFkTVC2hX70Tdpjxmb22TIgwi56X45TdAsIO1f7KCz/Npy/5CuuWncN4/giDky8Q4DJS
 3MdMdYTnd29n57MHWdWzAWMESdlJOugimKriUiCITxHv9MM4utbvuv2OSOD8AHoFiaRKIKvEGheD
 ro+uABlvAhS1E7OBXNmxno9v+DI/fPEmpInPmYutTyTV9VaIiD21InZI1iWtmbiox60xk6PgTbDi
 9G5+s/8rfOS8z7JmyQbGZg6z/bUfsGf6US5cfg1KB0xXRpFuG7/Y9ghOu8tkfmdtps8hI5ZgW7Gw
 S36GYEIRxF1kIiDRBjphaExrah1GEkbPBVCXHbSsYLWXQ8nQTbtUjy6kaToEIcJsccucsIC4TPGV
 y3/AeGmIwfxz2EEWo1pV1pjm+Y2pxFqVVvO+0f0t06YGYvEMwmj+9gsPM10e5dDkLp785Q84kH8W
 Szqc1TOA7/sMje3lzu3fZPqQIWE68YOjjedaaZ+qPIS0w+eqio1tko1OBq6gmjfEYrGkXXvuIFj9
 mllOBNDCgBWEqSoTqqk2NaoStfK61o+6CkckxbZifPWKH9Pbtpp/fOZ6FJqho3tCaRahNEeltj4n
 K6wIcFEgo+eI2StWJZZx+PCNnXxy86eo+AWEsompLoozBZxcF9++6+vsqvws7KOfISYyeCULO61C
 oYhYByHBzgVIpxCm1SyQygHDUEMClTKDIPv1PJPqpqbtjfla08rxmCUFDbWq1c70Uv77FXeypvtc
 vv/CjUxW3iAlO3n98C8a92qkNXREuiLgNbZ1qYt45KgdDEoCJatU9TROLuCebf/UOsesYWSnabTX
 GFCJIn4ljJiMLmJqDktGYl8ROV8biCcF0jb7Pc+rNEK5+ZyI8sBYKuR4pnkTU5McEwXPRDRWgGU5
 XHXmH/Gpc29ECMG3nr2BI4W9SCx2Db7QwgPrgzAbPGnX/rZb1bax3CKyBANAFGL4TgFRj6JqpBcV
 boOCJK9CB0Mq3Cfj4PkFpIqjKxI7rRu2t64NjVi41tfwthEbKIXZIYw1MDsCUL4A22AlTZMTRgC7
 bN0fkK+Os2v4SQLl0Z7sZWl2Le9deRUX9f82neklPHPwHrYN/hMlP3x7U7mSobH9EU4VDkRdmqQM
 vay0Qg/fUGGrFbjompWGF7YNEGCnZq1sqFGfmMpR1BNMiyGs+rUa7DZFUPBqDdGhhNedVsR8GFEf
 MwspzI6GF/YVM4a5PBDbNLKz0URZHcRHXv8uV57+eT517tc4o/cilmTX4iuXseJBHjvwI16dfIaC
 O9m4naWSPL7nZ405krokNySw5m2FPatGOtGQuOi6G9Fsr6HpsYVuTimgIG5nUDrAzgUYFbnWgEwH
 mECEi5rs2j2spj03EelDCDzFTEMCbWl2aG3NiUGlPc/iH9Oy4cG932Fd93vZM/40xmhcVSbQPpa0
 cWScjLMI3/c5MLKLg6OvhjxPt9rTFq9bA01GwbMiNk9GnFXE/mk/XAggLBMCbZoUqHGaDI28tGqO
 S9U0ALBsMIFpsIgWyY+GcYAQFnZUAiu+GQwlbdaExbFWUEW8rzGwZ/SX7Bn9ZYOGmAhxrgOmI5RF
 61Zb2lhkUmswVujlhdXK/4ycZ2Fy7W+tBDgGK9F0eg1yDwRlCaKKL6shOHW2oJu3k07TQbVIYGSw
 TI032074rYZGU675Xrup+EXUCd7CnANiJORjvtVVtfjUqDBUa+F+uqm6Iuo0nIgTkRFeOctptCxM
 D2qq6MzfHn88jtAWpMsIKxIumtZ3Flp4ptXquJBgS4ukk+HOz81IImOKNmarqM01HK9Ca5w7p+r5
 l6nVpU7PQ5iJ0pOovZNN+9giBWZuRkfY4SRUlJu2UC1pMFaATETsrDWPrY1UIp7eiOZrsTr8mEXr
 ClWlzQ6MHFjIYvE59nD2iM+z1q9lDWAUjLqHi4BmIg0moubGtEYdsyWxxYZHaFf4nJBJyDqghnlj
 6QZYkVo/1dQ4l1JmR733duTdjG1CWF/SC1xgPi+IepbkzQdolApFPapsbbyO9sFEwIssF55vVesc
 EOt81lahFM6ynyZ6PzH3b2NaB08ICyPEtvlW6W8N1yVbaKNODOB8v0WrZ22hGVYkSWBaEwYNTzfL
 aTTUcHakczxXF+l4I7WmBMIxyIRpyerMeVFGtD5TRFdYALLB3psv2zRs4H1b8tNSsEMuwA4et0bs
 TwvPExEbN5+tmWVzoh0xs5aCLKRGbSW2aXBaIu2aU+eR5uizLekgBTvu25KfnvdduUCbOyxhL+y9
 DTF/DCwiv1vCr4iXnc316lmPliyLeOvvmdSvl06NokT2H6u2pppa72MJm0CbO475smFPlruFECwU
 xGOpUNSzillSJ+1mbYA4m7SKYwzQWwBxDjDHq8wF1RI2Qgh6suHq/HkBvON3ioOWNHdb8i1IYYRP
 tYA4j/rKWVHG2w3efBK30HNnF0vaWNLcfcfvFAeP+7qrr8ytQoQroU5W8loaII4PXgtJtSIk9m0G
 73hgHlOF51wjEELiK3Prgt5Y//C3Uo9qowbCudg3R2ve9As0C3gp550ujhVHCmvrg18oX3LCF64B
 0nFzsxSy5rY5eXUWCx/x+a4T4tQBr45DOm5unvf4fDvv/GxlK3CLLWOczNehjunJTtJwnzpFEGLA
 LTVMFgZgbb3MzcCgLe03bWfebgP/Tpda3wdrWJzoteK55cpvJjYCLwbaX1B08m+pSGFhh+TxnJ9f
 Vz3mh3eOa+R+fl11h8FssaSNFNb/V+BZ0sZgthwPvBNKYL1c8c34tcBtSgf/5iWxDh6w5aHr3NsX
 yN5OXC7/Ruxa4DZj9AmTru/WEkYbEmDLw9d7ty/kmpMy3Zd/I7YRuAtMvzJBY5Hhu700w1cxCFz9
 8PXegj/AKE/mQeGNzTnALZawsYSFQLx7gUNgCase+98C5pyTAe+kJbBVGp0B4CZgwBiNxmCMfpdI
 nEQi6uq6Fbj54ev9rW8yd/LWyuXfcAYM5gZgc8gfdbgc5BRTbyEEogkatsXdSolb3yxwbxuA9XLZ
 N+z+Goifo/aZd1ObLPl1AFoHDEQ0MbIDuAO4+5Hrg8G3xwz8K5TLvmHP+hQ8A5EIB6LLy+cB1syX
 lTiWta2BU/93VhZpK5FPwT9yfXDqfgr+ROXSr1vH/M8IavXNlEGO8Z8R/OKP1A7+vZz65f8BVpwX
 memMZeoAAAAASUVORK5CYII=
