Source: prayers
Section: user/calendar
Priority: extra
Maintainer: Hedayat Vatankhah <hedayat.fwd@gmail.com>
Build-Depends: debhelper (>= 7), dpatch
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>

Package: prayers
Version: 1.0
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Islamic Prayer Times Application
 Prayers is an Islamic prayer times application which uses
 <a href=http://praytimes.org>PrayerTimes</a> library which
 provides more accurate results for some methods like Tehran University
 calculation method.
XB-Description-fa_FA: برنامه‌ی اوقات شرعی اسلامی
 برنامه‌ی نماز یک برنامه‌ی اوقات شرعی اسلامی است که از کتاب‌خانه‌ی 
 <a href=http://praytimes.org>PrayerTimes</a> 
 استفاده می‌کند که نتایج دقیق‌تری برای برخی از روش‌های محاسبه از جمله
 روش دانشگاه تهران ارائه می‌کند.
XSBC-Maemo-Display-Name: Prayers
XSBC-Maemo-Display-Name-fa_FA: نماز
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKL2lDQ1BJQ0MgcHJvZmlsZQAASMed
 lndUVNcWh8+9d3qhzTACUobeu8AA0nuTXkVhmBlgKAMOMzSxIaICEUVEmiJIUMSA0VAkVkSxEBRU
 sAckCCgxGEVULG9G1ouurLz38vL746xv7bP3ufvsvc9aFwCSpy+XlwZLAZDKE/CDPJzpEZFRdOwA
 gAEeYIApAExWRrpfsHsIEMnLzYWeIXICXwQB8HpYvAJw09AzgE4H/5+kWel8geiYABGbszkZLBEX
 iDglS5Auts+KmBqXLGYYJWa+KEERy4k5YZENPvsssqOY2ak8tojFOaezU9li7hXxtkwhR8SIr4gL
 M7mcLBHfErFGijCVK+I34thUDjMDABRJbBdwWIkiNhExiR8S5CLi5QDgSAlfcdxXLOBkC8SXcklL
 z+FzExIFdB2WLt3U2ppB9+RkpXAEAsMAJiuZyWfTXdJS05m8HAAW7/xZMuLa0kVFtjS1trQ0NDMy
 /apQ/3Xzb0rc20V6Gfi5ZxCt/4vtr/zSGgBgzIlqs/OLLa4KgM4tAMjd+2LTOACApKhvHde/ug9N
 PC+JAkG6jbFxVlaWEZfDMhIX9A/9T4e/oa++ZyQ+7o/y0F058UxhioAurhsrLSVNyKdnpDNZHLrh
 n4f4Hwf+dR4GQZx4Dp/DE0WEiaaMy0sQtZvH5gq4aTw6l/efmvgPw/6kxbkWidL4EVBjjIDUdSpA
 fu0HKAoRINH7xV3/o2+++DAgfnnhKpOLc//vN/1nwaXiJYOb8DnOJSiEzhLyMxf3xM8SoAEBSAIq
 kAfKQB3oAENgBqyALXAEbsAb+IMQEAlWAxZIBKmAD7JAHtgECkEx2An2gGpQBxpBM2gFx0EnOAXO
 g0vgGrgBboP7YBRMgGdgFrwGCxAEYSEyRIHkIRVIE9KHzCAGZA+5Qb5QEBQJxUIJEA8SQnnQZqgY
 KoOqoXqoGfoeOgmdh65Ag9BdaAyahn6H3sEITIKpsBKsBRvDDNgJ9oFD4FVwArwGzoUL4B1wJdwA
 H4U74PPwNfg2PAo/g+cQgBARGqKKGCIMxAXxR6KQeISPrEeKkAqkAWlFupE+5CYyiswgb1EYFAVF
 RxmibFGeqFAUC7UGtR5VgqpGHUZ1oHpRN1FjqFnURzQZrYjWR9ugvdAR6AR0FroQXYFuQrejL6Jv
 oyfQrzEYDA2jjbHCeGIiMUmYtZgSzD5MG+YcZhAzjpnDYrHyWH2sHdYfy8QKsIXYKuxR7FnsEHYC
 +wZHxKngzHDuuCgcD5ePq8AdwZ3BDeEmcQt4Kbwm3gbvj2fjc/Cl+EZ8N/46fgK/QJAmaBPsCCGE
 JMImQiWhlXCR8IDwkkgkqhGtiYFELnEjsZJ4jHiZOEZ8S5Ih6ZFcSNEkIWkH6RDpHOku6SWZTNYi
 O5KjyALyDnIz+QL5EfmNBEXCSMJLgi2xQaJGokNiSOK5JF5SU9JJcrVkrmSF5AnJ65IzUngpLSkX
 KabUeqkaqZNSI1Jz0hRpU2l/6VTpEukj0lekp2SwMloybjJsmQKZgzIXZMYpCEWd4kJhUTZTGikX
 KRNUDFWb6kVNohZTv6MOUGdlZWSXyYbJZsvWyJ6WHaUhNC2aFy2FVko7ThumvVuitMRpCWfJ9iWt
 S4aWzMstlXOU48gVybXJ3ZZ7J0+Xd5NPlt8l3yn/UAGloKcQqJClsF/hosLMUupS26WspUVLjy+9
 pwgr6ikGKa5VPKjYrzinpKzkoZSuVKV0QWlGmabsqJykXK58RnlahaJir8JVKVc5q/KULkt3oqfQ
 K+m99FlVRVVPVaFqveqA6oKatlqoWr5am9pDdYI6Qz1evVy9R31WQ0XDTyNPo0XjniZek6GZqLlX
 s09zXktbK1xrq1an1pS2nLaXdq52i/YDHbKOg84anQadW7oYXYZusu4+3Rt6sJ6FXqJejd51fVjf
 Up+rv09/0ABtYG3AM2gwGDEkGToZZhq2GI4Z0Yx8jfKNOo2eG2sYRxnvMu4z/mhiYZJi0mhy31TG
 1Ns037Tb9HczPTOWWY3ZLXOyubv5BvMu8xfL9Jdxlu1fdseCYuFnsdWix+KDpZUl37LVctpKwyrW
 qtZqhEFlBDBKGJet0dbO1husT1m/tbG0Edgct/nN1tA22faI7dRy7eWc5Y3Lx+3U7Jh29Xaj9nT7
 WPsD9qMOqg5MhwaHx47qjmzHJsdJJ12nJKejTs+dTZz5zu3O8y42Lutczrkirh6uRa4DbjJuoW7V
 bo/c1dwT3FvcZz0sPNZ6nPNEe/p47vIc8VLyYnk1e816W3mv8+71IfkE+1T7PPbV8+X7dvvBft5+
 u/0erNBcwVvR6Q/8vfx3+z8M0A5YE/BjICYwILAm8EmQaVBeUF8wJTgm+Ejw6xDnkNKQ+6E6ocLQ
 njDJsOiw5rD5cNfwsvDRCOOIdRHXIhUiuZFdUdiosKimqLmVbiv3rJyItogujB5epb0qe9WV1Qqr
 U1afjpGMYcaciEXHhsceiX3P9Gc2MOfivOJq42ZZLqy9rGdsR3Y5e5pjxynjTMbbxZfFTyXYJexO
 mE50SKxInOG6cKu5L5I8k+qS5pP9kw8lf0oJT2lLxaXGpp7kyfCSeb1pymnZaYPp+umF6aNrbNbs
 WTPL9+E3ZUAZqzK6BFTRz1S/UEe4RTiWaZ9Zk/kmKyzrRLZ0Ni+7P0cvZ3vOZK577rdrUWtZa3vy
 VPM25Y2tc1pXvx5aH7e+Z4P6hoINExs9Nh7eRNiUvOmnfJP8svxXm8M3dxcoFWwsGN/isaWlUKKQ
 Xziy1XZr3TbUNu62ge3m26u2fyxiF10tNimuKH5fwiq5+o3pN5XffNoRv2Og1LJ0/07MTt7O4V0O
 uw6XSZfllo3v9tvdUU4vLyp/tSdmz5WKZRV1ewl7hXtHK30ru6o0qnZWva9OrL5d41zTVqtYu712
 fh9739B+x/2tdUp1xXXvDnAP3Kn3qO9o0GqoOIg5mHnwSWNYY9+3jG+bmxSaips+HOIdGj0cdLi3
 2aq5+YjikdIWuEXYMn00+uiN71y/62o1bK1vo7UVHwPHhMeefh/7/fBxn+M9JxgnWn/Q/KG2ndJe
 1AF15HTMdiZ2jnZFdg2e9D7Z023b3f6j0Y+HTqmeqjkte7r0DOFMwZlPZ3PPzp1LPzdzPuH8eE9M
 z/0LERdu9Qb2Dlz0uXj5kvulC31OfWcv210+dcXmysmrjKud1yyvdfRb9Lf/ZPFT+4DlQMd1q+td
 N6xvdA8uHzwz5DB0/qbrzUu3vG5du73i9uBw6PCdkeiR0TvsO1N3U+6+uJd5b+H+xgfoB0UPpR5W
 PFJ81PCz7s9to5ajp8dcx/ofBz++P84af/ZLxi/vJwqekJ9UTKpMNk+ZTZ2adp++8XTl04ln6c8W
 Zgp/lf619rnO8x9+c/ytfzZiduIF/8Wn30teyr889GrZq565gLlHr1NfL8wXvZF/c/gt423fu/B3
 kwtZ77HvKz/ofuj+6PPxwafUT5/+BQOY8/yUGUl9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMA
 AAsTAAALEwEAmpwYAAAAB3RJTUUH3QMWDggSYVgBiAAAGBNJREFUeNrVm3mQXdWd3z/n3OVtvatb
 u9SS0IossSOQMRgbibGxzYAZg+OUsWcMODWeeCZJJZWh4qpQNckkVakM49RU2XLZjJ3EngyJF/AC
 EgMas1jyCAQSQlJrQWuv6n7db73vnnN++eO+1+91I4EMxti36tS79767nN/2/f3O7/e7indh2376
 Jl+hfVAeEAAopYPWaxRqxj2CzDwWF9d3YxArOLNl8U7z656rensEfoAti3/ePD5zs6dQyxVqAeh+
 YK2T6ionps8Rr0EIwPa1PsOJAVz9SKOVP+st3iiKWBMc0sof1So9ABwEd0KQQUGOb1n0tL3QnN5V
 BjS2Hadv2oTy7lKoDcaVlhopLjCu3GWkgkgNJwZHDCKIxDOk7LAznqXxZmiHUgEohSZAKx+lQnyV
 wdfZvK/aBn2dO4mSfeLso7cs3rnrXdeAJ069n1uXPAfAk6c+cLdW+iuOeGnVDGerdlQbV64rsoNZ
 6vzrVFiFBqVQJkOg+lxHbn5ZE5x04h7auuTnfzd7rr82Bvz4xGbta71FsA87F60pmzNU3fA7V6O3
 uVWKYGrQ3gMpPY+svwitU4cU3peNc9tv63/evWMGPHb8Oj6+/Bf85MQN/Qp5MJbCfRUzRNWMIIB6
 LygHbAzlKUUqJ4RpEEkISftzyfjzCVT7NkH9xUf7nz3RoOFXZsAPj25St1+ySx5//fqbRdzXKmZw
 VdmcxYl5zwhvbFFFMzXq07u4htKtngO08sn6C8n4CwaU0g98bNkLTzdouWgGfP/Itdyxcjc/PLrp
 ZhRPTkWH/chN8NuyVSYD8mdzzFs9ifbOjzcp3U1HarVB2Hr7JbuebtB00Rrw/SObbka5Jyeig37s
 Cr9xO5c6XbO1zTk4dyKL0kLPkgpaX+B+INDtdKfWGkRvvWPlrqcvWgP+78CmfhG7fbJ2dFVkJ37z
 IKcgjsDWIJWbyQRnNUMHFjBn+TlS7dU3dTgCpLxuOsNLBpTytnxy1a4Ts6+ZEX1865UrWTIv0OOT
 7sFSbXBVJX6P1F6BKKiUPGLjyHULYpPzUUWhTDc2nsK66lt63IqbQDO4KhcufHDH8KYvnhqO3ec3
 vnhhDfjb/VfdqnXpZ/noSD1ae494oKA4rokKIbk5Eem2BOpHXpuLJx3klhwnlbMzrm81nRlBlvLp
 Sq3Eudzv3fu+PU9cUAMAtDYPF2ujxNa8q6p/IRufAWQdjuJYQGlc46fKKB/a7JV4XafxcxbnmrgQ
 R/V7MudxmxiKtVHawtTDwNqZESjw17s3AvDIvsvvjm20plg7hxOw5xsOjEl+rby9YWwSyJSLimpZ
 Uyl5RBWFq68OHMl1KEj3lKnmOylNhlSKEPptiGgEiCIo5gPyQz7VkkZUc46twzko1s4R22jNI/su
 v7uVZjUTAy5/dap28tKqGb+gZESgUlCkMoIXvH3pi4NqUREVApzxUHiEoZ/IJCiT7qniBwmSTQws
 RCuNmJA2fzmVzmfQyiOaasPGQtg1QaYLfP/8ptQAxIzfTUfYf+DzG/eufwMGbHv5sk0Q7xgrH2h7
 s6ipVoU4UqTbBO29UzuoM0OgdC6gNtGLkgBfpWlPLQA0eXmJoK2EHV3F8jkfpBiNMFx9Ds91UvOG
 aV+YZ9GcDRhXZbxy+IJ+rsGI3uy6otbhLV/Y+PKuGRjgLHdVbD5r3JsEBwpKeZ8g7RAlGHt+br8d
 1M/2xeTmDiIOCoM54qgXTwV0uuvoqi1l3rKVfOzGL3KuPMDfPPoA1cxBsn1FhIDL5t6HrzP89MiX
 MK56QVAVoFTLZzNe313ArmkMeHjPeg9kQyXOaxFw5xkiYC2UCxBHQXLetQxp2lvj+E2He+Oxtcl+
 28ISevnzcMlOJvQuCtFZUkEWT2Xoza3m9g//S9plPd7USmRyIb7OMlreT29mPVEEJm4Oa+rPdQkN
 5VpeC7Lhz7+30p9mgC9qeWQrSyNTfQOANEYlhrQ3jxsv/ReUaxHGMmPY+jAuGa33xjYZM+5xs+5v
 ud6Y5NzUiIeSDOdKJzl05lmsNZyY/DkmGKYjN59e81H8ycvIhXPJBgtY3v1h2vwlVKsQx8mo1SA2
 yb4xEMURUVxZ2rckXD7NACcsiExlQUMSUTnhXEOa1sKqrg/zwJV72NB/K5csWYepNYl2dub+tDTr
 98/NrKc3vXamxrRc27i+oQEmhskzGaojvdRKPrWOgxT1UWJb5WzhRYy1dCwscqj0HSq9zzAyeYze
 9KVolWLD3HsYGoCJMz6lyRZtMHVtcBCZygKlWNDCAOmv2ajLOkkkECvKBTUtkUXt13Pnum9zrjzA
 2eKL+DqbSLkh9ZbJ21kmYSz0ZTdw/eI/RUnYJNbNMpn6qJZgaiTEVAMkO0HbmpOEGc3kWA2FYrD4
 Chmvl+V9N2KqIeVamROjezk0sgOxASVOs3bFtVTLlsqUZmpMUS0lTIgNGOOomajLOlkG4P/X51f7
 1rq1sY2wTqajgygfoLwYPy0ofPaP/D8ESynKMzx1DGNASRPElAKl60Comr8iYJylakoEuoMoGjs/
 SOl6/B8pdGgJOqcQD0pFSLl20rqP1ydeoForEpuYOZlLSLUpKmVHLbLotpCsLOFU/AtSYRpCwSlB
 jMLUEpp8PwHCmlcjpWXtF/5qUaBF8GuutspYOy0FFQpoTWm4nTiG4xMvMF49hu+F7Dr5CJPlCVzd
 TmMDUaVuY7PsuaEJo6UBpqpDLOm8vokFpi6RFhxQHnhpwctZxIMNfXfyqfVfY03Px5isDLN/6DE6
 Uys4VzxB2u9h3YrrqZQctUhoz8zlR7/8L6ztvgM/o9CSSsxYJ94qjps4VDOWmq2tSrfrQC+8blSs
 s33GuelITQCVrSImTXE4Q6wML+7bxc5nXmAyGkckeVh5EgpjHlGlaQ62Bd0bTBgsvEbodZDyumYw
 wJqWqNIm73YaFrZfxr/ZvJ87L/0bfD/F6mVX09cf8uyxbSzvuonIVIiimHldKynV1TtIhRwfOkh3
 uJKu9nlkU3MSAIwgrs30CrGxGGt6bSy+fvyPNt1dyMer41iwsZ4mJGwD0TXCylLyJwIK5ywnz+3B
 xBAVPaZO5aiM53BOUF6TiBmA1ghDqxEimoop0h0uSiZUJ74VpEwMyzo/wJ9d/yKDhf18++W7OTD2
 E9JBJ+lORTWK+foz95JSvZhIEVMhKkK+MEahPEZchdcH9zM/txFEiKMkbxjXx/Q7rcU4t9pP68DH
 c0PFs+1ttVoKR0zQHpHr9IlsAdeex40tZJ56P2v7P0AhPMCpUceZ0xOoVITOFgjbHVJfkEjD/us2
 rVoWPQeGn2BZ99VUOkqcnTiDlwRfaI+khCJgBO5Y91f84tQ32X3mmwRehozXi0dIXExRq0IU19i7
 +zBX3vEHHJj6HgDPH/gpZQYxk52cHT/Kpb0bqbka1ibzwIDyQZvEzKwVrHNhrSrKX/L7L+/REnRK
 NEFUVHiFNWTjFSgzRmenwW/v5vp1d7Llmn/Gmcl97B/6KT8o/3eq5NFeolJKJ4RrBbb+q1w9DK0z
 4PDoP7J15YOcmnoFU3exJkqY4GkfUFg/pje7gscO/XtiY1mSu4LrFn+OV0ceJxrPUs6Dq4Rkl3VT
 M1UiGxFXQZs0+18ZILC9WGfIBj2IOBpBna6vPawDbcFYh3W2F+UHOpvLap0xkK0Q9hZxS/cyvuAH
 TIQv40V9LOu7mhuv/H1EPIyLyaX7WNV/GWbWysu4868cG6u/tnA+S7uuoWqKdKZ7sQ7Eg/ZcD+Up
 qBZ8qqMB6TDH3NylbOy7i0+s/wt2n/4ux8b2MDYxiju3kDnqcq69cjOFaIwFbZehSj2IDaiaEkp5
 tGd6EacQPETRXNU24g2Bhru3IkpbKzgnzdBUWYyNoWOcE8XnOTz4QpJZMZMUaudI+W2s7/gU88Zv
 Iz6xlEreT7AjVolkGwDXGhBZ+MS6/8Rg4VU0IT3ZZVSr0JFawL/7yFOkewx+VwWrYjQBfdmV3Lzy
 SxwZe44Vc65lchjOjpxkTnoVN6z/JOv7b6It1053uJyISVRHgZBOfJ2hUiswXhpCqYQBjdVnA5Sb
 2JTQ7VuROkeSjIuJFKaQQk3OJe13UAyOY13M3rOPE6o2hooDjBSHKeoT4ClSk2swk1VifxS/u0Lv
 /A7WzP0Ak9FZjo3vxlrYMH8rG+Z/lO/u+2N6MisoFg9QqsJXP/08Jyf3sGbxZqKi47LLb6EYneN4
 /pfUbISnQl4/dZTx05ZPXPuvWL3kCm685iMUKuPko9OMjJ/BhonLnNPWz5Le9byv/yaO5p8F5SUx
 iFEoKwkGNNY0DqxzWKfxrYARh3GCqSjiyTQSpQm7xqmEp6G2FCuWOZllrOi5npMH93I0/xyj/n5c
 GgKXQ/mCix2VcyGbrv00t6//CjuO/jWdqUUMTg7wsbUP8tLQD5ioDnLr8s8yVjzFn235BnOyS3hk
 7+e5atEnWdi+gbIb4UeHHqIYj3Nicg+d/lLmti/n5j/4PJ3ZXjKpdqyz1KREym9n4oxlc//dHBv9
 JSIZrrv6BtYvvYnnBr8B1RymGIJvCdososEpkoqkCMYJTsAXcVjjiEpgyx4qjAl7qmhfEAXzomuZ
 qJ7ixwN/yeLOjfgqoFQqY2tJtGf8UoLkKaADejMreWX4Z5yaegVLzGeu+CpVW2Tf0M/I+F088+p3
 6entZ//kjzjwy8dBaQYKz3Cs8CzKJQXQ06cGWdDWTWr+JJ1dcymrISqVYdpcL6ZUY7BwgKd2P8rJ
 /WW2XH03Ga+b9126kc1r7+DUxH76e67gsBvCqddJd1iUl3iohikoB04EJ4JvrGCsIAJ+h8EL6hc2
 MME5Xj+3l5qJODP5KnO81Rx49QiZribCax88QHxANENThylWJ/B0wA8OfiVJPnoBOmrnH/f9Pbdv
 /iIVW0DjEUWGJ3762PQkF/UtIZ1OsfPZb/PZ3/sS7eEUg3KIismzbu6HyPidzE2vQ48t5fXCI/yv
 Hae48arbuOnqTxB4KQpmkKzupVIrINoR18BPJ3k2VR/OJUDonKD+5LFFfbGtjJTi8ZkJSwXVsYC2
 0mpcdpLFK+aiXcjJM0c5eyyPlzUoXxKX54MfgAph6ZzVbOz/IGPRcWqmgq9DfJWiVChz+NhrjIyN
 kAlyrFy+FqUUhYkqB4/txw+ZLnJk/U4mx6vUqjWuuOJy/JxhXvslXNL9fqYqw5w9M0RtKkCJx5rV
 a9h82UdY1b+e14Z3cmTiBfbs/zlP7/kJmWySBVEehG2CF4IXJAJrz3VTPOMv8p0IDoVr6EhLcdur
 zKFKnjhzhoNnTid+uwY6rbExeDoJXXVdtTyBUxOHmaqNAY4/2vw/eObYN3ntyF7GxsaolGPEQL5Q
 YtfInqSoqcDzk4KneOAM5N0kOqVIZ4V9R1/CGFgcwnGvykv5n6EBVQr5zEf/hFtuuJ1FPaswNsbz
 Aua1rWRu2zBL208yXjlN5OcJw4SmaRNAIaISDGh4gUbWZ0ZxQhSCoH2mbR4FOu1w1WbkJyrJ5CoS
 ZoxNjXPN0luZk1qOtY6Tg4MokzzDGhA7813OJetyV9cmrZleajbSjjVbZax6Bj+Azmw7D3zmP/Px
 TX9IsZrn2Ll/Ih8NMVI6yu79z3DylQJd4SVUYiHj5lOLikT+OcI5FYKgkXkWnDh851wCCG5mkaVW
 UOCqWL9CKPWb6sTig5dJoit0fXhNRmRTbdx91X/kpbM/xSeHiZMw1MQtxNeXzKLqBPvN5zQiS+oM
 UYSUpopsuGIJn17737jtms/hxPDc8f/Dkann2Lz0HgYnjxCXNI8/+QNy80AicE7R7hajPYUyacxY
 iMlU8XOGbJCAvN8ICGYwQIFEPlZVCLqrSQGiXoNHJ/G7kKi/0vVWqLoFiYJPXf4g2VQHRyd/QWEq
 gjrwSIt5KZXcp736b13yypuZV0gqOwG2JGzdeC8Ll87nx699lWP5X1Kplbhh6T3sfmUnOw9+jxOv
 jdEZLiCKBtEe+Bmh4p3CCxPw05JGp2yS7yjB0Ksm5VshFlGjgu5z0kzzOiVY7Qh0EsmJApklbdXI
 tupkIaOBP37/V9m84pN8b+9/INRtvHx0J8pLnpHYSJNp2m9ZDDWYoZujgUdihDDr89D372XlysWY
 2KAkJIqqBKdfZu/xnQzKYVRaQ9SDqwaQjXGujlMOvBToVDUBQs/D8xlrm6dKvrEOKxI31vENL2DF
 QSrJEVCv1ogCU8/8oBvXJeuA9y24gj/94Lfozs7jb1/8t+SjIYYGBylHSZpaVF29vSaxXlC3+QYD
 WolvmIgozJRQ6ximPQOD+dOJGVmoFeG1cy9RsVP4AUjGUY0n0cZDTIyXSuat6ynxRgygfRBfarmF
 2vhaS+ysOoTohVLXAGcSkAhygrSYhhXYuvazDBeOczp/mJ7MQpb1bORDqz/D+xbcyO6Tj/OtF/81
 Doc2IUfPHpxeEE53cmjwvDrhYV0L/BbC6+rfqDEoEQgcfs6CD8rWvYVAeqqbvD3LlH8az0sE4nfG
 mClBo0AnIXAr45P1gULBITEu9mMrVoRRR4sGaNChTB9TzxJpDTsGvs1NK+/hljWfY3HXOipxgRMT
 +3jiyDZKtQk0AcVSnoFT/0QtNol3aTEfrZLWSR2Aavx6TeK1agIgKpG0Slnw68RoknhWIAyyOGvw
 20HihKki4HWYJPDxk9EAWKkLQJTCihoTH+MjzjjRAyJqutra8D9SJ7yhAlIHyJ1H/46XzvxDohUu
 BlH4KsQjxMSWc1MjRNU40R7XUgluoHx9YipoSgevCXqtiRUbK3TWolLSLHWpBOWtqmF0jPbqLZeN
 qpa0eBC/+XyZxhWF1mrATcXG/9+fzpu7/mfPQURP2/uMaKg1OpTmn+PlkenanrN1Quu26eq+3rom
 E1UDAOsSkYZU6qNBmFOzpuAn7kd03e029ms+NV2G9tK0F1LSJL4BtnjJuxrvkLoBxEYOPvbnxdhP
 AhF3QvDyIqrrQi0XMsscGj6tIeFpabeUocS1TEg1JTGt8l5DJWc1OLQwQQUzz4s0Yw/xYrxs3Uxa
 +zNb0/QNz6UanksheHkr8vp0cdQ4GRTRg07oEnnrpoaG5GlR8cYCSlwLA1rtua6CqiH1luhRNdyM
 On/byuw5iUvctPNdghl6ZvqNlggV3WiSSDQkebYetE4GpxkgSh9H5KSIXtcaC7wZAxqaILQwoQUn
 pl+uW1SyxRalpW6vpGnzF2pzaT0vFkQ5dLs03yNv7DFq4Elrj4BGgdIndRAeny6NPXbvhNWwz1O+
 k5aa/ZuNxtphmmBmEj0NQP4sNPZaVFjNhJu3euf0NQoI6l5BNb2MtGgXLZHk9DwBTwdOK/b98J+P
 WZoKAkbco54Kym/VuNRqY62/uiXCmw5u/Kar08HMgKfh799O85TSSQwx49ys0WoKtJzzVVA2zj16
 3i6x277Z9moUR5caiS8eB5gJho392XW/6UnoN07y7TBC5OIZNt0RpgJSQerAj/+wuH5Gk9S9f9/o
 ipGHtPb5VbRgWhN0Ilmtm9Hd9GiJ87V+58RfSOoX1ITpDjgfkIdaaX7D62/9RvagcbU11pmLk4Bc
 nFRmTEa9w5aat7F52sfX4aEnvlB+Y5tc65YJ5ctaeW/4pufNNKGVoDeVhHpviFcotPLIhPLlN/RF
 th7c+Z0Mx0fZrpXe9lam0ErwbMC54OD8qvlub1r7aKW3HR9l+53fybx1s/TWbel+YLtxtVVOHL/L
 m1YaX4cDwJYn76ueuOh2+S3bUjcDTxoX+/I7ygSlNL4ODLB1+33Redvl9QWIp37DVl8HRin9O0/8
 lm0pLpoB2++L2LItpbbfFz0tIls95Q9o5f0Oqb2Hp/wBEWkQr7bfF53fO1zoIcces9zy9ZAd99de
 X/Fx70dK6ZxS6iolb/zK87eGcDRae2jlbQPu23F/bW+dhjdrUr247Zav+xrUFuBhQdaIOH5bAFIp
 jUajlDoEfBlk+477jbs4pl38a9yO++MndtwfrwXuUUof8LRf1Eo79R58RqaUQivtPO0XPa0PeB73
 7Lg/Xrvj/viJenbgYtuU3/724a/7m4C7gA3AUhFZANIlyMw02vlSTBc5NdVymARnKq+UGgROAvuA
 R5+637z7n87OIpyn7jetxx6wHFgA9ANrRWQV0AesSdKg0seFM27nmYgaBWLgEDCqlKp/PM0JYBA4
 /tT9zX712XP6jWjAhbYPfc1rXf03Pqv4VT+vaPl8HguYf3jA/to/Yvr/TQ28f/2ylGwAAAAASUVO
 RK5CYII=
